@font-face {
  font-family: 'PixelOperator';
  src: url("../public/fonts/PixelOperator.ttf");
}

@font-face {
  font-family: 'PixelOperator8';
  src: url("../public/fonts/PixelOperator8.ttf");
}

@font-face {
  font-family: 'PixelOperatorHB';
  src: url("../public/fonts/PixelOperatorHB.ttf");
}

@font-face {
  font-family: 'EarlyGameboy';
  src: url("../public/fonts/EarlyGameboy.ttf");
}

